---
import Navigation from "../components/Navigation.astro"
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle="Blog"
---
<BaseLayout pageTitle={pageTitle}>
    <h1 class="text-3xl font-bold text-center m-3">Astro Learning {pageTitle}</h1>
    <p class="text-center m-3 p-3">This is where I will post about my journey learning Astro.</p>
    <ul class="list-disc m-3 list-inside px-3 flex flex-col items-center text-blue-900">
        <li><a class="font-medium text-blue-900 hover:underline" href="/posts/post-01">First port :)</a></li>
        <li><a class="font-medium text-blue-900 hover:underline" href="/posts/post-02">The second one</a></li>
    </ul>
</BaseLayout>