---
import Navigation from "../components/Navigation.astro"
import Footer from  "../components/Footer.astro"
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home"
---


<BaseLayout pageTitle={pageTitle}>
    <h1 class="text-3xl font-bold text-center">My first Astro site!!!</h1>
</BaseLayout>
