---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting"
const pageTitle = "Home"
---


<BaseLayout pageTitle={pageTitle}>
    <h1 class="text-3xl font-bold text-center">My first Astro site!!!</h1>
    <Greeting client:load messages={["Hi", "Hello", "Hey there"]}/>
</BaseLayout>
