---
const pageTitle = "Home"
---
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <meta name="viewport" content="width=device-width"/>
        <meta name="generator" content={Astro.generator}/>
        <title>{pageTitle}</title>
    </head>
    <body>
        <a class="font-medium text-blue-600 dark:test-blue-500 hover:underline px-2" href="/">{pageTitle}</a>
        <a class="font-medium text-blue-600 dark:test-blue-500 hover:underline px-2" href="/about">About</a>
        <a class="font-medium text-blue-600 dark:test-blue-500 hover:underline px-2" href="/blog">Blog</a>
        <h1 class="text-3xl font-bold">My first Astro site!!!</h1>
    </body>
</html>
