---
---
<div class="p-2 sm:flex sm:justify-center sm:space-x-4 space-x-1">
    <a class="font-medium text-blue-600 dark:test-blue-500 hover:underline" href="/">Home</a>
    <a class="font-medium text-blue-600 dark:test-blue-500 hover:underline" href="/about">About</a>
    <a class="font-medium text-blue-600 dark:test-500 hover:underline" href="/blog">Blog</a>
</div>
